@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

.alert p{
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
    text-align: left;
}

.alert b{
    color: red;
}
